<p>
<em>{{ article.date }}</em> &nbsp;&nbsp;
{{ article.news }}


{% if article.pdf %}
&nbsp;&nbsp;

{% if article.pdf contains '://' %}
[
<a href="{{ article.pdf }}" target="_blank">pdf</a>
]
{% else %}
[
<a href="{{site.url}}{{site.baseurl}}/docs/presentations/{{ article.pdf }}" target="_blank">pdf</a>
]
{% endif %}

{% endif %}


{% if article.url %}
&nbsp;&nbsp;
[
<a href="{{ article.url }}" target="_blank">
{% if article.display %}
{{ article.display }}
{% else %}
url
{% endif %}
</a>
]
{% endif %}


</p>

